<!DOCTYPE html>
<html>
  <head>
    <title>My Webpage</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/socket.io-client@2/dist/socket.io.js"></script>
  </head>

  <body>
    <h1>Welcome to my webpage!</h1>
    <script>
      $(document).ready(function () {
        var socket = io.connect("http://localhost:5000");

        socket.emit("request data");

        socket.on("response data", function (responses) {
          console.log(responses);
        });
      });

      // other socket.io code here
    </script>
  </body>
</html>
